.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #e0eea0;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #e0eea0 ;
    color:rgb(244, 26, 252);
}

.address{
    font-size:80%;
    margin:0px;
    color:#45504e;
}

.copyright{
    padding-top: 3%;
}
.extra-padding{
    padding-top: 7%;
}
.bottom-padding{
    padding-bottom: 7%;
}

body{
    padding-top: 3%;
}

.navbar-dark {
    background-color: #03a77e;
}
